@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  margin: 0;
}

.grid-container {
  display: grid;
  grid: 89px 6px 594px 6px 494px 6px / 1fr 1020px 1fr;
}

.grid-item-header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color: #292d37;
}

.grid-item-border1 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #2f3444;
}

.grid-item-slider {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: #f16c64;
}

.grid-item-border2 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  background-color: #eb676b;
}

.grid-item-services {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  background-color: #f2f3f3;
}

.grid-item-border3 {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  background-color: #ffffff;
}