/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Black.ttf);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-BlackItalic.ttf);
  font-style: italic;
  font-weight: 900;
}

html {
  scroll-padding-top: 95px;
  scroll-behavior: smooth;
}

body, main, header, section, footer, nav, div, form, input, textarea, h1, h2, h3, p, img {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: "Lato", sans-serif;
  text-align: justify;
  letter-spacing: -0.02em;
}

h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  text-align: justify;
}

h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  text-align: justify;
}

.text-nav {  
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  font-family: "Lato";
  text-align: justify;
  letter-spacing: -0.01em;
}

.text-main {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato", sans-serif;
  text-align: justify;
  letter-spacing: -0.01em;
}

.text-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  text-align: justify;
  letter-spacing: -0.01em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1020px 1fr;
  grid: 1fr / 1fr 1020px 1fr;
}

.grid-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

/* Header */

header {
  position: fixed;
  z-index: 50;
  left: calc(50% - 510px);
  display: flex;
  width: 100%;
  max-width: 1020px;
  height: 89px;
  max-height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.logo {
  position: absolute;
  top: 29px;
  left: 40px;
  color: #ffffff;
}

.logo::after {
  content: "*";
  color: #f06c64;
}

nav {
  position: absolute;
  top: 42px;
  right: 40px;
  display: flex;
}

nav > div {
  margin-left: 13px;
}

.nav-section {
  color: #ffffff;
}

.nav-section :hover {
  color: #f06c64;
  cursor: pointer;
  transition: 0.2s;
}

.nav-section .active {
  color: #f06c64;
}

.nav-buf {
  color: #494e62;
  user-select: none;
}

.nav-menu {
  display: none;
}

.grid-item-header {
  height: 95px;
}

/* Slider */

.grid-item-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.8% 3.9% 3.75% 3.9%;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  transition: 1s;
  user-select: none;
}

.slide-frame {
  width: 797px;
  height: 517px;
  overflow: hidden;
}

.slide-container {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transform: translate(-100%, 0);
}

.slide-item {
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 797px;
  height: 517px;
}

.slide-item > div {
  position: relative;
}

.slide {
  width: 16px;
  height: 32px;
}

.slide:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s;
}

.left {
  margin-left: 3px;
  margin-right: -1px;
}

.right {
  margin-right: -0.5px;
}

.phone-v {
  margin-top: -2px;
  margin-right: 37px;
}

.phone-h {
  margin-left: 36px;
  margin-top: -2px;
}

.phone-next {
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  width: 797px;
  height: 517px;
}

.blackscreen {
  position: absolute;
  background-color: #000000;
  opacity: 0;
}

.phone-v .blackscreen {
  top: 65px;
  left: 14px;
  width: 188px;
  height: 333px;
}

.phone-h .blackscreen {
  top: 14px;
  left: 60px;
  width: 333px;
  height: 188px;
}

.turnedoff {
  opacity: 1;
}

.phone-power {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #aaaaaa;
  opacity: 0;
}

.phone-power:hover {
  cursor: pointer;
}

.phone-power:active {
  opacity: 0.2;
}

.phone-v .phone-power {
  top: 408px;
  left: 86px;
}

.phone-h .phone-power {
  top: 86px;
  left: 8px;
}

/* Services */

.grid-item-services {
  padding: 40px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.grid-item-services > h2 {
  margin-top: 28px;
  color: #666d89;
}

.grid-item-services > p {
  margin-top: 27px;
  color: #767e9e;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
} 

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-left: 1px;
}

.services-icon > img {
  margin-top: 2px;
  margin-right: 20px;
  width: 59px;
  height: 59px;
  user-select: none;
}

.services-text {
  width: 219px;
  height: 95px;
  overflow: hidden;
}

.services-text h3 {
  color: #666d89;
}

.services-text p {
  margin-top: 10px;
  margin-left: 1px;
  color: #767e9e;
}

/* Portfolio */

.grid-item-portfolio {
  padding: 40px 32px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.grid-item-portfolio > h2 {
  margin-top: 28px;
  margin-right: 8px;
  margin-left: 8px;
  color: #666d89;
}

.grid-item-portfolio > p {
  margin-top: 27px; 
  margin-right: 8px;
  margin-left: 8px;
  color: #767e9e;
}

.button-sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11px 9px;
  user-select: none;
}

.button-sort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  margin-right: 10px;
  color: #767e9e;
  border: 1px solid #666d89;
  border-radius: 5px;
}

.button-sort-item:hover {
  color: #dedede;
  border-color: #c5c5c5;
  cursor: pointer;
}

.button-sort-item.active {
  color: #dedede;
  border-color: #c5c5c5;
}

.button-sort-all {
  width: 27px;
}

.button-sort-web {
  width: 76px;
}

.button-sort-graphic {
  width: 91px;
}

.button-sort-artwork {
  width: 55px;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  padding: 8px;
  max-height: 620px;
  overflow: hidden;
  user-select: none;
}

.gallery-container > div {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}

.gallery-container > div.active {
  outline: 5px #f06c64 solid;
}

/* About Us */

.grid-item-about {
  padding: 40px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.grid-item-about > h2 {
  margin-top: 28px;
  color: #666d89;
}

.grid-item-about > p {
  margin-top: 27px;
  color: #767e9e;
}

.us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 27px;
}

.us-container > div {
  width: 31.8%;
}

.us-container > div > img {
  width: 100%;
}

.us-container h3 {
  max-width: 300px;
  margin-top: 13px;
  color: #666d89;
  white-space: nowrap;
  overflow: hidden;
}

.us-container p {
  max-height: 42px;
  margin-top: 10px;
  line-height: 21px;
  color: #767e9e;
  overflow: hidden;
}

.us-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
}

.us-links-container div {
  width: 34px;
  height: 34px;
  margin-right: 6px;
  border-radius: 50%;
}

.us-links-container div:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
          box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* Get a Qoute */

.grid-item-contact {
  padding: 40px;
  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.grid-item-contact > h2 {
  margin-top: 28px;
}

.grid-item-contact > .text-main {
  margin-top: 27px;
  margin-bottom: 44px;
}

.form-container {
  float: left;
  width: 619px;
  margin-right: 21px;
  margin-bottom: -47px;
}

.form-item {
  width: 589px;
  margin-bottom: 16px;
  padding: 0 15px;
  color: #f0d8d9;
  background-color: #d6564f;
  border-width: 0;
  border-radius: 5px;
  outline-color: brown;
}

input.form-item {
  height: 38px;
  line-height: 38px;
  letter-spacing: 0.01em;  
}

textarea.form-item {
  height: 195px;
  padding-top: 7px;
  resize: none;
  overflow: auto;
  word-spacing: -0.1px;
  letter-spacing: 0;
}

input[type="submit"] {
  width: 120px;
  text-align: center;
}

input[type="submit"]:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
          box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.form-item::-webkit-input-placeholder {
  color: #f48c8f;
}

.form-item::-moz-placeholder {
  color: #f48c8f;
}

.form-item:-ms-input-placeholder {
  color: #f48c8f;
}

.form-item:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #d6564f !important;
  -webkit-text-fill-color: #f0d8d9 !important;
  color: #f0d8d9 !important;
}

.form-submitted {
  position: fixed;
  top: 15%;
  left: calc(50% - 200px);
  z-index: 100;
  display: none;
  width: 400px;
  max-height: 400px;
  padding: 20px;
  color: #f0d8d9;
  background-color: #d6564f;
  border: 6px #832834 solid;
  border-radius: 10px;
}

.form-submitted-ok {
  margin-top: 20px;
  text-align: center;
  background-color: #832834;
}

.form-submitted-ok:hover {
  cursor: pointer;
  outline: 1px #f0d8d9 solid;
}

.grid-item-contact > p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item > p {
  margin-left: 10px;
}

/* Footer */

.grid-item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
  padding-right: 39px;
  padding-left: 41px;
  color: #666d89;
  background-color: #2d303a;
}

.links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-container div {
  width: 34px;
  height: 34px;
  margin-left: 6px;
  border-radius: 50%;
}

.links-container div:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
          box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {  
  body {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 768px 1fr;
    grid: 1fr / 1fr 768px 1fr;
  }
  
  header {
    left: calc(50% - 384px);
    max-width: 768px;
  }
  
  @media only screen and (max-width: 768px) {    
    header {
      left: 0;
    }
  }

.grid-item-slider {
  padding-bottom: 3.75%;
}

.slide-frame {
  width: 601px;
  height: 391px;
  margin-bottom: -4px;
}

.slide-item {
  width: 601px;
  height: 391px;
}

.left {
  margin-top: 8px;
  margin-left: 0;
}

.right {
  margin-top: 8px;
  margin-right: -2px;
}

.phone-v {
  margin-top: 0;
  margin-right: 27px;
}
  
.phone-v > img {
  width: 183px;
  height: 365px;
}

.phone-h {
  margin-left: 26px;
  margin-top: 0;
}

.phone-h > img {
  width: 365px;
  height: 182px;
}

.phone-next { 
  width: 601px;
  height: 391px;
}

.phone-next > img {
  height: 391px;
}

.phone-v .blackscreen {
  top: 49px;
  left: 11px;
  width: 143px;
  height: 252px;
}

.phone-h .blackscreen {
  top: 11px;
  left: 45px;
  width: 252px;
  height: 142px;
}

.turnedoff {
  opacity: 1;
}

.phone-power {
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #aaaaaa;
  opacity: 0;
}

.phone-power:hover {
  cursor: pointer;
}

.phone-power:active {
  opacity: 0.2;
}

.phone-v .phone-power {
  top: 307px;
  left: 65px;
}

.phone-h .phone-power {
  top: 65px;
  left: 5px;
}

.grid-item-services > h2 {
  margin-top: 9px;
}

.services-container {
  margin-top: 2px;
}

.services-item {
  margin-top: 33px;
  margin-right: 35px;
  margin-bottom: 17px;
}

.services-icon > img {
  margin-top: 2px;
}

.button-sort-graphic {
  width: 93px;
}

.gallery-container {
  max-height: 795px;
  margin-top: 21px;
  margin-bottom: 17px;
}

.gallery-container > div {
  width: 216.19px;
  height: 183.76px;
  margin-bottom: 20px;
}

.gallery-container img{
  width: 216.19px;
  height: 183.76px;
}

.us-container {
  margin-top: 39px;
  margin-bottom: 28px;
}

.us-container h3 {
  margin-top: 9px;
}

.us-container p {
  max-height: 66px;
  margin-top: 1px;
  line-height: 22px;
}

.us-links-container {
  margin-top: 10px;
}

.grid-item-contact > h2 {
  margin-top: 22px;
}

.grid-item-contact > .text-main {
  margin-bottom: 25px;
}

.form-container {
  width: 442px;
  margin-right: 29px;
  margin-bottom: -13px;
}

.form-item {
  width: 424px;
  margin-bottom: 12px;
  padding: 0 9px;
}

textarea.form-item {
  height: 155px;
  padding-top: 5px;
}

.grid-item-contact > p {
  margin-top: 3px;
  margin-bottom: 9px;
}

}

@media only screen and (max-width: 767px) {

html {
  scroll-padding-top: 71px;
}

h1 {
  font-size: 19.4px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.text-nav {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.01em;
}

body {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 375px 1fr;
  grid: 1fr / 1fr 375px 1fr;  
}

.grid-item-header {
  height: 71px;
}

header {
  left: calc(50% - 187.5px);
  max-width: 375px;
  height: 71px;
  border-bottom: none;
}
  
  @media only screen and (max-width: 375px) {
    header {
      left: 0;
    }
  }

.logo {
  top: 25px;
  left: 148px;
}

nav {
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 278px;
  height: 100vh;
  padding-top: 232px;
  background-color: #2D303A;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
}

nav > div {
  margin-left: 71px;
  margin-bottom: 29px;
}

.nav-buf {
  display: none;
}

.nav-menu {
  position: absolute;
  top: 26px;
  left: 20px;
  z-index: 100;
  display: block;
  transition: 0.3s;
}
  
/* Slider */

.grid-item-slider {
  padding-bottom: 3.75%;
}

.grid-item-slider {
  padding-left: 9px;
  padding-right: 10px;
}

.slide-frame {
  width: 292px;
  height: 190px;
  margin-bottom: -4px;
}

.slide-item {
  width: 292px;
  height: 190px;
}

.left {
  margin-top: 12px;
  margin-left: 0;
}

.right {
  margin-top: 12px;
  margin-right: 0;
}

.phone-v {
  margin-top: 2px;
  margin-right: 13px;
}
  
.phone-v > img {
  width: 88.3px;
  height: 177.61px;
}

.phone-h {
  margin-left: 13px;
  margin-top: 2px;
}

.phone-h > img {
  width: 177.84;
  height: 88.4px;
}

.phone-next { 
  width: 292px;
  height: 190px;
}

.phone-next > img {
  height: 190px;
}

.phone-v .blackscreen {
  top: 49px;
  left: 11px;
  width: 143px;
  height: 252px;
}

.phone-h .blackscreen {
  top: 11px;
  left: 45px;
  width: 252px;
  height: 142px;
}

.turnedoff {
  opacity: 1;
}

.phone-power {
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #aaaaaa;
  opacity: 0;
}

.phone-power:hover {
  cursor: pointer;
}

.phone-power:active {
  opacity: 0.2;
}

.phone-v .phone-power {
  top: 307px;
  left: 65px;
}

.phone-h .phone-power {
  top: 65px;
  left: 5px;
}
  
/* Services */

.grid-item-services {
  padding: 12px 32px;
}

.grid-item-services > h2 {
  margin-top: 23px;
}

.services-container {
  margin-top: 17px;
  margin-bottom: -12px;
} 

.services-item {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
}

/* Portfolio */

.grid-item-portfolio {
  padding: 40px 22px;
}

.grid-item-portfolio > h2 {
  margin-top: 11px;
}

.button-sort-container {
  margin: 16px 8px;
  user-select: none;
}

.button-sort-all {
  width: 26px;
}

.button-sort-web {
  width: 77px;
}

.button-sort-graphic {
  width: 93px;
}

.button-sort-artwork {
  width: 56px;
}

.gallery-container {
  max-height: 555px;
  margin-bottom: -13px;
}

.gallery-container > div {
  width: 151px;
  height: 128px;
  margin-bottom: 14px;
}

.gallery-container > div > img {
  width: 151px;
  height: 128px;
}

/* About Us */

.grid-item-about {
  padding: 31px;
}

.grid-item-about > h2 {
  margin-top: 11px;
}

.us-container {
  margin-top: 24px;
  margin-bottom: 27px;
}

.us-container {
  flex-wrap: wrap;
  margin-bottom: -26px;
}

.us-container > div {
  width: 100%;
  margin-bottom: 33px;
}

.us-container > div > img {
  width: 100%;
}

.us-container h3 {
  max-width: 300px;
  margin-top: 15px;
}

.us-container p {
  max-height: 42px;
  margin-top: 3px;
  line-height: 22px;
}

.us-links-container {
  margin-top: 12px;
}

/* Get a Qoute */

.grid-item-contact {
  padding: 30px;
}

.grid-item-contact > h2 {
  margin-top: 23px;
}

.grid-item-contact > .text-main {
  margin-top: 27px;
  margin-bottom: 23px;
}

.form-container {
  float: none;
  width: 315px;
  margin-right: 0;
  margin-bottom: 20px;
}

.form-item {
  width: 302px;
  margin-bottom: 12px;
  padding: 0 7px;
}

textarea.form-item {
  height: 154px;
  padding-top: 5px;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
}

.form-submitted {
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
}

.form-submitted-ok {
  margin-top: 20px;
  text-align: center;
  background-color: #832834;
}

.grid-item-contact > p {
  margin-top: 0;
  margin-bottom: 12px;
}

.contact-container {
  margin-bottom: 5px;
}

.contact-item > p {
  margin-bottom: 2px;
}

/* Footer */

.grid-item-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item-footer > p {
  display: none;
}

.links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-container div {
  margin: 0 3px;
}
  
}